<div class="container">
    <h5>{{colors()?.name}} ({{colors()?.type?.length}})</h5>
    <ul>
        @for(color of colors()?.type; track color.name; let index= $index){
            @if(index<7 && !allColors()){
                <li class="type-list" (click)="secletColor(color.item)">
                    <input type="color" [value]="color.item" disabled class="color"> 
                    {{color.name}}
                </li>   
            }@else if( allColors()) {
                <li class="type-list" (click)="secletColor(color.item)">
                    <input type="color" [value]="color.item" disabled class="color"> {{color.name}}
                </li>
            }
        }
        <p class="showAll" (click)="showAll()">Показать все<zfloor-arrow-down/></p>
    </ul>
</div>
