<div class="catalog-filter">
    <nav class="catalog-type">
        <ul class="list">
            <li class="item-type"><zfloor-kovrolin/> <p>Ковролин</p><zfloor-vector-right/></li>
            <li class="item-type"><zfloor-kovr-tiles/><p>Ковровая плитка</p><zfloor-vector-right/></li>
            <li class="item-type"><zfloor-linoleum/><p>Линолеум</p><zfloor-vector-right/></li>
            <li class="item-type"><zfloor-pvh/><p>Дизайн-плитка ПВХ </p><zfloor-vector-right/></li>
            <li class="item-type"><zfloor-laminat/><p>Ламинат</p><zfloor-vector-right/></li>
        </ul>
    </nav>
</div>


<input type="color" value="#808080">

<!-- <zfloor-hotel/>
<zfloor-home/>
<zfloor-theatre/>
<zfloor-office-chair/>
<zfloor-pub/> -->